@font-face {
    font-family: "Rubik bold";
    src: url('./fonts/Rubik-Bold.woff2') format("woff2"),
        url('./fonts/Rubik-Bold.woff') format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Rubik medium";
    src: url('./fonts/Rubik-Medium.woff2') format("woff2"),
        url('./fonts/Rubik-Medium.woff') format("woff");
    font-weight: 500;
}

body {
    font-family: "Rubik medium";
    background-color: #d8eefe;
    font-size: 18px;
    margin: 0;
}

body > *:not(.form) {
    max-width: 779px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    margin-block-start: 63px;
}

h1 {
    font-family: "Rubik bold";
    font-size: 64px;
    text-transform: capitalize;
    color: #094067;
    margin: 0;
}

h2,
h3 {
    color: #fffffe;
    text-transform: uppercase;
}

h4 {
    font-size: 36px;
    margin-block-end: 0;
    margin-block-start: 0;
}

button {
    outline: none;
}

.inputs {
    margin-block-start: 42px;
}

fieldset {
    border: none;
}

.filter_name,
.filter_month {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.search_by_name {
    padding-inline-end: 48px;
}

.filter_month {
    margin-block-start: 32px;

}

.filter_by_month {
    padding-inline-end: 101px;
}

.search_by_name,
.filter_by_month {
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-block-start: 13px;
    padding-block: 15px;
    padding-inline-start: 20px;
}

label {
    color: #094067;
    font-weight: 500;
}

input,
select {
    color: #094067;
    font-size: 18px;
    font-weight: 500;
}

::placeholder {
    color: #094067;
    font-weight: 500;
}

svg {
    margin-block-start: 24px;
}

button {
    cursor: pointer;
}

.buttons {
    margin-block-start: 32px;
    margin-inline-start: 28px;
}

.add {
    padding-inline-start: 18px;
    padding-inline-end: 11px;
    padding-block: 15px;
    border-radius: 5px;
    border: none;
    background-color: #ef4565;
    margin-block-start: 35px;
    color: #fffffe;
    font-weight: 500;
    font-size: 18px;
}

.profile {
    border-radius: 5px;
    width: 92px;
    height: 94px;
    object-fit: cover;
}

.birthday {
    margin: 0;
}

.birthday,
.next_birthday {
    color: #5f6c7b;
    font-size: 24px;
}

.next_birthday {
    margin-block-start: 0;
}

.age {
    color: red;
    font-weight: 700;
    font-size: 24px;
}

.edit,
.delete {
    border: none;
    background-color: transparent;
    margin-block-start: -32px;
}

.add_form,
.edit_form,
.delete_items {
    background-color: #ffffff;
    padding-block-start: 53px;
    padding-block-end: 189px;
    padding-inline-start: 264px;
    padding-inline-end: 298px;
    margin-block-start: 161px;
    color: #094067;
}

.add_form > h2,
.edit_form > h2,
.delete_items > h2 {
    margin-block-start: 38px;
}

.add_form > fieldset,
.edit_form > fieldset,
.delete_items > fieldset {
    padding: 0;
}

.add_form > fieldset > label,
.edit_form > fieldset > label {
    margin-block-start: 11px;
}

.add_form > fieldset > input,
.edit_form > fieldset > input {
    border: none;
    background-color: #d8eefe;
    margin-block-start: 8px;
    padding-inline-start: 20px;
    max-width: 264px;
    padding-block: 15px;
}

.add_header,
.edit_header {
    color: #094067;
    text-transform: none;
}

input {
    border-radius: 5px;
    border: 2px solid black;
}

.submitbttn {
    padding-block: 15px;
    padding-inline-start: 18px;
    padding-inline-end: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ef4565; 
    margin-block-start: 49px;
    margin-block-end: 32px;
    color: #ffffff;
    font-size: 18px;
}

.delete_item {
    padding-block: 15px;
    padding-inline: 53px;
    border-radius: 5px;
    border: none;
    background-color: #ef4565; 
    margin-block-start: 49px;
    margin-block-end: 32px;
    color: #ffffff;
    font-size: 18px;
}

.cancel {
    padding-block: 15px;
    padding-inline: 49px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-inline-start: 20px;
    color: #5F6C7B;
    font-size: 18px;

}

.Cancel {
    padding-block: 15px;
    padding-inline: 49px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #5F6C7B;
    font-size: 18px;
}

.close_button {
    border: none;
    background-color: white;
    margin-inline-start: 162%;
    outline: none;
}

.close_button > svg {
    width: 29px;
    height: 29px;
}

.delete,
.edit {
    outline: none;
}


.delete_header {
    color: #094067;
}

.form {
    background: hsla(0, 0%, 30%, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    transition: all 0.25s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    --opacity: 0;
    opacity: var(--opacity);
    overflow: scroll;
    
}

.form fieldset {
    display: flex;
    flex-direction: column;
    background: var(--grey);
    border: 3px solid var(--pink);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: all 0.2s;
    --scale: 0.3;
    transform: scale(var(--scale));
}
.form.open {
    --opacity: 1;
    pointer-events: all;
}
    
.form.open fieldset {
    --scale: 1;
}

.navigation {
    margin: 0;
    padding: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-block-start: 32px;
    padding: 22px;
    border-radius: 10px;
    text-align: center;
}

.navigation:nth-child(1) {
    margin-block-start: 47px;
}

.navigation:not(:nth-child(1)) {
    margin-block-start: 32px;
}

.names {
    margin-block: 24px;
    text-align: center;
}

.list_item--buttons {
    text-align: center;
}

.buttons {
    margin-inline-start: 0;
}

@media (min-width: 700px) {
    .inputs {
        display: flex;
        flex-direction: row;
        gap: 35px;
    }
    .profile {
        margin-inline-start: 22px;
    }

    .add {
        margin-block-start: 38px;
    }
    
    .filter_month {
        margin-block-start: 0px;
    }

    .navigation {
        margin: 0;
        padding: 16px;
        list-style: none;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        padding: 22px;
        gap: 39px;
        border-radius: 10px;
    }

    .names {
        text-align: justify;
        margin-inline-end: auto;
    }
    
    .list_items {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        text-shadow: 1px 1px 1px pink;
    }
    
    .profiles {
        margin-block-start: 48px;
        text-align: center;
    }
    
    .name {
        text-align: center;
    }

    .names {
        margin-block-start: 13px;
    } 

    .buttons {
        margin-inline-start: 16px;
    }

    .edit {
        text-align: end;
    }
    
    .delete_bttn {
        text-align: center;
    }
}
